# Formula 1 Analysis

## Load and Explore Data

In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/Users/addingtongraham/opt/anaconda3/envs/keras-env/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/addingtongraham/opt/anaconda3/envs/keras-env/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/addingtongraham/opt/anaconda3/envs/keras-env/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [14]:
# datasets filepath
data_filepath = '~/Documents/datasets/Formula 1 Race Data/'

In [18]:
# load various datasets
circuits = pd.read_csv(data_filepath+'circuits.csv', encoding='latin-1')
constructor_results = pd.read_csv(data_filepath+'constructorResults.csv', encoding='latin-1')
constructors = pd.read_csv(data_filepath+'constructors.csv', encoding='latin-1')
constructor_standings = pd.read_csv(data_filepath+'constructorStandings.csv', encoding='latin-1')
drivers = pd.read_csv(data_filepath+'drivers.csv', encoding='latin-1')
driver_standings = pd.read_csv(data_filepath+'driverStandings.csv', encoding='latin-1')
lap_times = pd.read_csv(data_filepath+'lapTimes.csv', encoding='latin-1')
pit_stops = pd.read_csv(data_filepath+'pitStops.csv', encoding='latin-1')
qualifying = pd.read_csv(data_filepath+'qualifying.csv', encoding='latin-1')
races = pd.read_csv(data_filepath+'races.csv', encoding='latin-1')
results = pd.read_csv(data_filepath+'results.csv', encoding='latin-1')
seasons = pd.read_csv(data_filepath+'seasons.csv', encoding='latin-1')
status = pd.read_csv(data_filepath+'status.csv', encoding='latin-1')

In [26]:
# take a look at drivers
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [28]:
# take a look at results
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,1
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,1
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,1
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,1
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,1

In [29]:
# take a look at pit stops
pit_stops.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [30]:
# take a look at status
status.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine